**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/obj
**/out
**/.DS_Store
**/node_modules
**/.dockerignore
**/Dockerfile
**/docker-compose*
**/.env
**/*.md
!README.md
**/charts
**/k8s
